{% load static %}
{% load cache %}
{% load custom_tags %}
{% cache 500 user_navbar user.username %}
<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex justify-content-center" href="{% url 'imitation:home' %}">
      {% include 'include/lordicon.html' with path='lordicons/title.json' size=36 %}
			СЗИ от НСД "Имитация"
		</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
		      {% include 'include/lordicon.html' with path='lordicons/title.json' size=36 %}
					СЗИ от НСД "Имитация"
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p class="mb-2">Добро пожаловать, {{ user.get_full_name }}.</p>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mb-2 dropdown">
            <a class="nav-link p-1 btn btn-outline-primary d-flex justify-content-start align-items-center shadow" href="{% url 'admin:index' %}" role="button" aria-expanded="false">
              {% include 'include/lordicon.html' with path='lordicons/admin.json' size=36 %}
              Административная панель
            </a>
          </li>
          <li class="nav-item mb-2 dropdown">
            <a class="nav-link p-1 btn btn-outline-primary d-flex justify-content-start align-items-center shadow" href="{% url 'imitation:incident_create' %}" role="button" aria-expanded="false">
              {% include 'include/lordicon.html' with path='lordicons/incident.json' size=36 %}
              Инциденты
            </a>
          </li>
          <li class="nav-item mb-2 dropdown">
            <a class="nav-link p-1 btn btn-outline-primary d-flex justify-content-start align-items-center shadow" href="{% url 'imitation:category_create' %}" role="button" aria-expanded="false">
              {% include 'include/lordicon.html' with path='lordicons/category.json' size=36 %}
              Категории
            </a>
          </li>
          <li class="nav-item mb-2 dropdown">
            <a class="nav-link p-1 btn btn-outline-primary d-flex justify-content-start align-items-center shadow" href="{% url 'imitation:exampleincident_create' %}" role="button" aria-expanded="false">
              {% include 'include/lordicon.html' with path='lordicons/example.json' size=36 %}
              Известные инциденты
            </a>
          </li>
          <li class="nav-item mb-2 dropdown">
            <a class="nav-link p-1 btn btn-outline-primary d-flex justify-content-start align-items-center shadow" href="{% url 'imitation:stat' %}" role="button" aria-expanded="false">
              {% include 'include/lordicon.html' with path='lordicons/stat.json' size=36 %}
              Графики
            </a>
          </li>
          <li class="nav-item mb-2 dropdown">
            <a class="nav-link p-1 btn btn-outline-primary d-flex justify-content-start align-items-center shadow" href="{% url 'imitation:result' %}" role="button" aria-expanded="false">
              {% include 'include/lordicon.html' with path='lordicons/result.json' size=36 %}
              Результаты
            </a>
          </li>
          <li class="nav-item mb-2 dropdown">
            <a class="nav-link p-1 btn btn-outline-primary d-flex justify-content-start align-items-center shadow" href="{% url 'customauth:logout' %}" role="button" aria-expanded="false">
              {% include 'include/lordicon.html' with path='lordicons/logout.json' size=36 %}
              Выйти
            </a>
          </li>
        </ul>
			</div>
    </div>
  </div>
</nav>
{% endcache %}