{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row m-auto d-flex justify-content-between align-items-start mt-3">
  {% include 'imitation/activebar.html' %}
  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 p-4 shadow-lg blur bg-transparent border border-light border-opacity-75 d-flex flex-column">
    {% if incident_list %}
    <div id="order_list">
      {% include 'imitation/incident_list.html' %}
    {% else %}
  		<h5 class="text-white text-center">Нет не одного инцидента</h5>
    {% endif %}
    </div>
    {% if update %}
      <div hx-get="{% url 'imitation:incident_list' %}" hx-target="#order_list" hx-trigger="every 5s"></div>
      <div hx-get="{% url 'imitation:incident_stat' %}" hx-target="#stat" hx-trigger="every 10s"></div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	document.body.addEventListener('htmx:configRequest', (event) => {
		event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
	})
</script>
{% endblock %}

