<ul class="list-group">
  <li class="list-group-item list-group-item-info text-dark d-flex justify-content-between align-items-center">
		<small>Всего инцидентов</small>
		<span class="badge rounded-pill bg-info shadow">{{stat_dict.all}}</span>
	</li>
  <li class="list-group-item list-group-item-success text-dark d-flex justify-content-between align-items-centerd-flex">
		<small>Легетимных</small>
		<span class="badge rounded-pill bg-success shadow">{{stat_dict.legal}}</span>
	</li>
  <li class="list-group-item list-group-item-secondary text-dark d-flex justify-content-between align-items-center">
		<small>Не опр.</small>
		<span class="badge rounded-pill bg-secondary shadow">{{stat_dict.legal_none}}</span>
	</li>
  <li class="list-group-item list-group-item-danger text-dark d-flex justify-content-between align-items-center">
		<small>Нарушений</small>
		<span class="badge rounded-pill bg-danger shadow">{{stat_dict.legal_no}}</span>
	</li>
</ul>